.circle-button {
  width: 39px;
  height: 39px;
  background-color: rgba(255,255,255, 0.35);
  padding: 10px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.circle-button__icon {
  width: 18px;
  width: 18px;
}