.send-to-bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4.5px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 13px 15px;
}

.send-to-bar__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.33px;
  text-align: left;
  color: rgba(0, 0, 0, 0.4);
}

.send-to-bar__input {
  outline: 0;
  border: 0;
  background-color: transparent;
  color: #000;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
}
